@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');

:root {
  --main-maize-color: #ffef5c;
  --main-night-color: #0d0d0d;
  --main-white-smoke-color: #f2f2f2;
  --main-deep-pink-color: #ff2b8e;
  --main-medium-slate-blue-color: #886bf2;
  --main-plum-color: #fda8ea;
  --main-giants-orange-color: #ff5c2f;
  --main-danger-color: #ff1c1c;
  --light-text-color: #fff;
  --dark-text-color: #000;
  --border-color-for-image: #ccc;
  --gray-color: #858585;
  --no-properties-color: rgba(187, 187, 187, 0.699);
  --border-color-for-under: #cfcfcf;
  --border-color-light: #cfcfcf;
  --light-color: #fff;
  --nav-color: #222;
  --error-bg-color: #ffb2b2;
  --alert-success-color: #7aff7ab0;
  --alert-danger-color: #ffb2b2b0;
  --alert-default-color: #858585b0;
  --default-box-shadow: 0px 3px 16px 0px rgba(18, 18, 18, 0.4);
  --lavender-color: #e6e6ea;
}
